/////////////////////COLOR VARIABLES/////////////////
$color-primary:#c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$colot-grey-dark-2: #6D5D48;

/////FONT VARIABLES////////////
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


//////GLOBAL RESETS/////////
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    // --we inherit border box from html
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px/16px = 62.5%
}


body {
    font-family: $font-primary;
    color: $colot-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

// building the grid part
.container {
    display: grid;
    // --1st tow has 80vh and min-content to make  the features section grow with increase in content auto is default
    // grid-template-rows: 80vh min-content auto;
    // --for the realtors, we use 40vw bse its a prop ofthe width and not vh,
    // --4th,5th and 6th row sh have the height of its content
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content); 

}