.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    // --bk-image
    // NB: the best way to create an overlay is to move from the same color to the same rgba color
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)),
    url(../images/hero.jpeg);
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    // --we can use 1fr to fill up the available space in rows jst like with cols
    // --sizing the new row according to content and the next 6rem
    grid-template-rows: 1fr min-content 6rem 1fr; //push the other text to the bottom
    // --make the col have only the minwidth of content
    grid-template-columns: max-content;
    
    // --placing grid-row gap to create space
    grid-row-gap: 1.5rem;

    // --placing grid track inside grid container
    justify-content: center;

    &__logo{
        height: 3rem;
        // --placing the logo in the center
        justify-self: center;
    }
    &__btn {
        // --aligning btn
        align-self: start;
        justify-self: start;
    }

    &__seenon-text{

    }
    &__seenon-logos{
        img{
            height: 2.5rem;
        }
    }
}