.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    // --bk-image
    // NB: the best way to create an overlay is to move from the same color to the same rgba color
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)),
    url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;

    display: grid;
    // --we can use 1fr to fill up the available space in rows jst like with cols
    // --sizing the new row according to content and the next 6rem
    // --to handle the overflowing property,we use minmax
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr; //push the other text to the bottom
    // --make the col have only the minwidth of content
    grid-template-columns: minmax(min-content, max-content); //minmax makes the col never less than the content in responsiv
    
    // --placing grid-row gap to create space
    grid-row-gap: 1.5rem;

    // --placing grid track inside grid container
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        
    }
    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
        
    }

    &__logo{
        height: 3rem;
        // --placing the logo in the center
        justify-self: center;
    }
    &__btn {
        // --aligning btn
        align-self: start;
        justify-self: start;
    }

    &__seenon-text{
        display: grid;
        // --defining our cols, 1fr on the right and left, then text in the middle  
        grid-template-columns: 1fr max-content 1fr;
        // --space btn
        grid-column-gap: 1.5rem;
        align-items: center; //vertically align items
        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            // --we use the current color variable
            background-color: currentColor;
        }
    }
    &__seenon-logos{
        display: grid;
        // --4 sized cols
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;

        // --centering content inside grid items
        justify-items: center;
        // --aligning items on responsive
        align-items: center;
        img{
            max-height: 2.5rem;
            // --to make it responsive(the height can be 2.5rem or less)
            max-width:100%;
            // --making image logo abit darkter
            filter: brightness(70%);
            
        }
    }
}